* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@media only screen and (min-width: 750px) {
  body {
    background-color: hsl(233, 47%, 7%);
  }

  .main_body {
    color: azure;
    display: flex;
    justify-content: center;
    padding: 10rem;
  }

  .text_content {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(244, 38%, 16%);
    text-align: center;
    padding: 50px;
  }
  .text {
    padding: 55px;
    text-align: left;
  }

  h1 {
    margin-bottom: 30px;
  }

  span {
    color: hsl(277, 64%, 61%);
  }

  .h3 {
    text-align: center;
    width: fit-content;
    margin-bottom: 50px;
  }

  .company_details {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 10px;
    width: fit-content;
  }
  p {
    opacity: 0.7;
  }

  img {
    width: fit-content;
    height: 30rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .image-header-mobile {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .main_body {
    background-color: hsl(233, 47%, 7%);
    color: azure;
    display: grid;
    justify-content: center;
    padding: 6rem;

    height: 100%;
  }
  .text_content {
    background-color: hsl(244, 38%, 16%);
    padding: 40px;
  }
  h1 {
    font-size: 20px;
    padding-bottom: 35px;
  }
  span {
    color: hsl(277, 64%, 61%);
  }

  .image-header-mobile {
    width: 100%;
  }

  .image-header-desktop {
    display: none;
  }
  p {
    opacity: 0.7;
  }
  .h3 {
    padding-bottom: 35px;
  }

  .company_details {
    text-align: center;
    display: grid;
    gap: 30px;
  }
}
